# Configuration file for the portal script, readjusting this file should
#     pre-set some values when starting portal without any additional 
#     explicit flags. Flags added to the script have precedent over this
#     configuration file.
#
# Define location of the .csv files from where the script will load the 
# data from. 
# Default: "/home/$(whoami)/.portal/data" defined within the script
#data_files_location=""
#
# Define the default browser you are using in case the http protocol is
# used. Currently usable values are: chrome, firefox, vivaldi.
browser="vivaldi"
#
# Define whether the gui will loop within the menu infinitely or will 
# exit after the first connection is established. Values: true, false.
# Setting it to true will allow the script to loop infinitely until you
# explicitly CTRL+C out of the loop.
infinite_loop="flase"
#
# Define the number of entries allowed on each of the pages within the 
# gui mode. This is something that might be modular in the future, but
# at this point, it's statically set up, which is by default 20.
#page_size="20"
